{% extends 'base.html.twig' %}

{% block title %}Welcome! {% endblock %}

{% block body %}
<h2>Bienvenue!</h2>
<br>
<h3>Vous êtes connecté !😊</h3>
{% if app.user %}
        <div class="mb-3">
           par l'adresse {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
          
        {% if is_granted('ROLE_ADMIN') %} 
                <br>
                <br>
                <button class = "btn btn-success">
                <a style="color:white" href="{{path('admin_dashboardNew')}}">
                Dashboard</a>{%  endif %}
                </a>
        {% endif %}
           </div>
            
{% endblock %} 