/* ---------------------------------- start login and  register ----------------------------------------*/

.body {
  background-color: #f6f5f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  height: 100vh;
  margin: -30px 0px 50px;
  overflow-y: hidden;
  scroll-behavior: none;
}
.danger {
  margin: 0px;
  padding: 0px;
  color: red;
}
#a_login {
  color: var(--dark2);
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}
#h1_login {
  position: relative;
  width: 100%;
  font-size: 40px;
  line-height: 1.1em;
  font-weight: 700;
  margin: 0;
}
#p_login {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

.Container {
  background-color: var(--light);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 500px;
}

.form-container {
  background-color: var(--light);
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  justify-content: center;
  text-align: center;
}
.label_sign {
  margin-top: 10px;
  align-self: flex-start !important;
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 0;
}
.label_sign.erreur {
  margin-top: 2px !important;
}
.register {
  margin-top: 10px;
}
.form-group {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 0px !important;
}
.checkbox {
  font-size: 16px;
}

.sign-in-container hr {
  margin-bottom: 3px;
  padding: 0;
  overflow: visible;
  border: none;
  border-top: 1px solid red;
  color: red;
  text-align: center;
  width: 100%;
}
hr:after {
  content: "Or";
  display: inline-block;
  position: relative;
  top: -15px;
  padding: 0 16px;
  background: #fff;
}
.sign-in-container #hr {
  padding: 0;
  overflow: visible;
  border: none;
  border-top: 1px solid rgb(112, 44, 44);
  width: 20%;
  color: #6e6d7a;
  text-align: center;
}
#span_login {
  display: inline;
  font-size: 12px;
}

.display-inline {
  display: flex;
}
.forget_password a {
  display: inline-block;
  text-decoration: none;
  font-size: 15px;
  color: #18bc9c;
}
.arrow-left {
  height: 30px;
  width: 30px;
  border: 1px solid #808080;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  font-size: 20px;
  margin-bottom: 30px;
  cursor: pointer;
}
.arrow-left a {
  text-decoration: none;
  color: var(--dark);
}
.flex-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 10px 0;
}
.social-container {
  margin: 20px 0;
}
.social-container #a_login {
  border: 1px solid #ddd !important;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
}
.input {
  background-color: var(--grey);
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 35vw;
}

.btn_login {
  border: 1px solid var(--primary);
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  -webkit-transition: transform 80ms ease-in;
  -moz-transition: transform 80ms ease-in;
  -ms-transition: transform 80ms ease-in;
  -o-transition: transform 80ms ease-in;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 12px;
  padding-bottom: 12px;
  color: var(--white);
  margin-left: 0px;
}
button:focus {
  outline: none !important;
}
button:active {
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
}

.ghost {
  background-color: transparent;
  border-color: var(--light);
}
.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
}

.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}
.sign-in-container form.none {
  display: none;
}

.sign-up-container {
  background-color: var(--light);
  left: 0%;
  bottom: 20%;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  -webkit-transition: transform 0.6s es;
  -moz-transition: transform 0.6s es;
  -ms-transition: transform 0.6s es;
  -o-transition: transform 0.6s es;
}

.overlay {
  background: var(--login);
  background: linear-gradient(to right, #ff4b2b, var(--login)) no-repeat 0 0 /
    cover;
  color: var(--light);
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transition: transform 0.6s ease-in-out;
  -webkit-transition: transform 0.6s ease-in-out;
  -moz-transition: transform 0.6s ease-in-out;
  -ms-transition: transform 0.6s ease-in-out;
  -o-transition: transform 0.6s ease-in-out;
}

.overlay-panel {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  height: 100%;
  width: 50%;
  text-align: center;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transition: transform 0.6s ease-in-out;
  -webkit-transition: transform 0.6s ease-in-out;
  -moz-transition: transform 0.6s ease-in-out;
  -ms-transition: transform 0.6s ease-in-out;
  -o-transition: transform 0.6s ease-in-out;
}
.overlay-right {
  right: 0;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}
.overlay-left {
  transform: translateX(-20%);
  -webkit-transform: translateX(-20%);
  -moz-transform: translateX(-20%);
  -ms-transform: translateX(-20%);
  -o-transform: translateX(-20%);
}

/* animation in login */
/* move overlat to right */
.Container.right-panel-active .sign-in-container {
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
}

.Container.right-panel-active .overlay-container {
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
}

.Container.right-panel-active .sign-up-container {
  height: 100%;
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  opacity: 1;
  z-index: 5;
}

.Container.right-panel-active .overlay {
  transform: translateX(50%);
  -webkit-transform: translateX(50%);
  -moz-transform: translateX(50%);
  -ms-transform: translateX(50%);
  -o-transform: translateX(50%);
}

.Container.right-panel-active .overlay-left {
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}

.Container.right-panel-active .overlay-right {
  transform: translateX(20%);
  -webkit-transform: translateX(20%);
  -moz-transform: translateX(20%);
  -ms-transform: translateX(20%);
  -o-transform: translateX(20%);
}
.invalid-feedback {
  margin: 0 !important;
  text-align: start !important;
  align-self: flex-start !important;
  font-size: 0.775em !important;
}
/* media query pour la page login */
/* mobiles */
@media (max-width: 480px) {
  #Container {
    height: 100vh !important;
    width: 100vw !important;
    max-width: 100vw;
  }
  .btn-primary {
    background-color: #007aff !important;
    padding-left: 80px;
  }
}

/* ---------------------------------- end login and register page ---------------------------------------- */
