<mjml>
  <mj-body>
    <mj-section>
      <mj-column>

        <mj-image width="100px" src="/assets/img/logo-small.png"><img src="https://assets.website-files.com/61f981dc0f719d75a5d78239/61f999c2b37ddfd786d7a255_logo-rental-webflow-ecommerce-website-template.svg" alt="logo"></mj-image>

        <mj-divider border-color="#F45E43"></mj-divider>
        <mj-text font-size="20px" color="#F45E43" font-family="helvetica"><h4>Message from {{contact.username}}</h4></mj-text>
        <mj-text font-size="17px" color="#F45E43" font-family="helvetica">
        
           <p>Email: {{contact.email}}</p>
           <p>Phone: {{contact.phone}}</p> 
        </mj-text>          
          <br>
          <mj-text font-size="20px" color="#F45E43" font-family="helvetica"><p >{{contact.message}}</p></mj-text>
        

      </mj-column>
    </mj-section>
  </mj-body>
</mjml>