{% extends "base.html.twig" %}
{% block body %}
<div class="footer-wrapper">
        <div class="content">
            <div class="footer">
             <div class="footer-grid" >
                <div id="grid1" class="grid-element">
                    <a href="#">
                        <img src="https://assets.website-files.com/61f981dc0f719d75a5d78239/61f999c2b37ddfd786d7a255_logo-rental-webflow-ecommerce-website-template.svg" alt="">
                     </a>
                    <p>Lorem ipsum dolor sit amet consect adipiscing elit phasellus amet.</p>
                    <div class="social-media">
                        <a href="#">
                                <i class="fa-brands fa-facebook-f"></i>                                                  
                        </a>
                          <a href="#">
                                <i class="fa-brands fa-instagram"></i> 
                                                                                
                        </a>
                         <a href="#">
                                <i class="fa-brands fa-twitter"></i>                                                
                        </a>
                          <a href="#">
                                <i class="fa-brands fa-youtube"></i>                                                
                        </a>
                    </div>
                   
                </div>
                <div id="grid2" class="grid-element">
                    <div class="footer-title">Pages</div>
                    <div class="footer-pages">
                     <ul class="list">
                        <li class="footer-list-item">
                            <a href="#">Home</a>
                        </li>
                        <li class="footer-list-item">
                            <a href="#">About</a>
                        </li>
                        <li class="footer-list-item">
                            <a href="#">Blog</a>
                        </li>
                        <li class="footer-list-item">
                            <a href="#">Blog Post</a>
                        </li>
                        <li class="footer-list-item">
                            <a href="#">Contact</a>
                        </li>
                     </ul>
                        

                     <ul class="list" id="list">
                        <li class="footer-list-item">
                            <a href="#">Rooms</a>
                        </li>
                        <li class="footer-list-item">
                            <a href="#">Rooms Single</a>
                        </li>
                     </ul>
                    </div>
                
                </div>

                <div id="grid3" class="grid-element">
                    <div class="footer-title">Utility pages</div>
                    <ul class="list">
                        <li class="footer-list-item">
                            <a href="#">Start here</a>
                        </li>  
                        <li class="footer-list-item">
                            <a href="#">Style guide</a>
                        </li>   
                        <li class="footer-list-item">
                            <a href="#">404 Not found</a>
                        </li><li class="footer-list-item">
                            <a href="#">Password protected</a>
                        </li><li class="footer-list-item">
                            <a href="#">Licenses</a>
                        </li>   <li class="footer-list-item">
                            <a href="#">Changelog</a>
                        </li>            
                    </ul>
                </div>

                <div id="grid4" class="grid-element">

                <div class="footer-title">Follow on Instagram</div>
                <div class="layout-grid">
                    <a  class="footer-images" href="#">
                    <img src="https://assets.website-files.com/61f981dc0f719d75a5d78239/61fae5bb9a4f153c395996b4_instagram-footer-image-1-rental-webflow-ecommerce-template.jpg" alt="">
                    </a>
                
                    <a class="footer-images" href="#">
                    <img src="https://assets.website-files.com/61f981dc0f719d75a5d78239/61fae5bd99cd1482459f5a18_instagram-footer-image-2-rental-webflow-ecommerce-template.jpg" alt="">
                    </a>
                    <a  class="footer-images" href="#">
                    <img src="https://assets.website-files.com/61f981dc0f719d75a5d78239/61fae5bdf1a790368e70ba6a_instagram-footer-image-3-rental-webflow-ecommerce-template.jpg" alt="">
                    </a>
                    <a class="footer-images" href="#">
                    <img src="https://assets.website-files.com/61f981dc0f719d75a5d78239/61fae5bc4b2dee4295767ada_instagram-footer-image-4-rental-webflow-ecommerce-template.jpg" alt="">
                    </a>
                    <a class="footer-images" href="#">
                    <img src="https://assets.website-files.com/61f981dc0f719d75a5d78239/61fae5bdc1dfb22fd4ef26fa_instagram-footer-image-5-rental-webflow-ecommerce-template.jpg" alt="">
                    </a>
                    <a class="footer-images" href="#">
                    <img src="https://assets.website-files.com/61f981dc0f719d75a5d78239/61fae5bbdbd7a3ef87e031c8_instagram-footer-image-6-rental-webflow-ecommerce-template.jpg" alt="">
                    </a>
                    
                
                </div>

                </div>
             </div>
            </div>
        </div>
    </div>

{% endblock %}